.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
  background: whitesmoke;
}

.home-header h1 {
  font-size: 2.8rem;
  font-weight: normal;
  color:black;
  background-color: #F3E1E1;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #f7e6e4 ;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  padding: 40px 30px;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #F7DDDE;
}

.icon {
  margin-bottom: 20px;
  color:#7D5A5A;
}

.label {
  font-size: 1.3rem;
  font-weight: 600;
  color: #7D5A5A;
}
